
#divCapa{
    width: 75%;
    height: 40%;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
}

#imgCapa {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

#colExcluirConta{
    margin: auto;
}